main {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

form {
    width: 30rem;
    margin: 3rem auto;
    background-color: rgb(68, 65, 68);
    padding: 1rem;
    border-radius: 6px;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
    box-sizing: border-box;
    font: inherit;
    border: 1px solid rgb(184, 184, 184);
    padding: 0.25rem;
    color: rgb(61, 58, 58);
}

input:focus {
    background-color: rgb(68, 65, 68);
    color: rgb(255, 255, 255);
    border-color: rgb(32, 5, 63);
}

/*Output Area Format*/

.output-area {
    width: 30rem;
    margin: 3rem auto;
    background-color: rgb(68, 65, 68);
    padding: 1rem;
    border-radius: 6px;
}